* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}
h1 {
  color: aqua;
  margin-bottom: 7vw;
  font-size: 4vw;
}
.content {
  padding: 1vw;
  text-align: center;
  font-size: 4vw;
  font-weight: 700;

  box-shadow: 0px 0px 5px 5px rgba(242, 24, 140, 0.95);
  height: 10vw;
  width: 25vw;
  position: relative;
  background-image: radial-gradient(
    circle 986.6px at 10% 20%,
    rgba(251, 6, 6, 0.94) 0%,
    rgba(3, 31, 213, 1) 82.8%,
    rgba(248, 101, 248, 1) 87.9%
  );
}

p {
  text-shadow: 0px 0px 3px 3px rgba(24, 242, 58, 0.95);
  color: rgba(0, 0, 0, 0.75);
  font-family: Arial, Helvetica, sans-serif;
}

h6 {
  text-shadow: 0px 0px 3px 3px rgba(24, 242, 58, 0.95);
  margin-top: 1.5vw;
  margin-left: 10vw;
  font-size: 1.5vw;
  color: rgba(31, 217, 241, 0.95);
}

@media (max-width: 800px) {
  .content {
    height: 20vw;
    width: 80vw;
  }
  p {
    font-size: 10vw;
  }
  h6 {
    font-size: 4vw;
  }
  h1 {
    font-size: 8vw;
    margin-bottom: 10vw;
  }
}
